<!DOCTYPE html>
<html>
<head>
    <title>SIGN IN</title>
</head>
<body>
    <h2>Sign In</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button type="submit">Sign In</button>
    </form>
    <a href="{% url 'signup' %}">Don't have an account? Sign up</a>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
